/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.panel-div {
	border: 1px solid;
	border-radius: 10px;
	padding: 10px;
}

.active-panel-div {
	border-color: red;
}

.list-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
